.header {
    background-color: #1f2937;
    color: white;
}

.navbar {
    display: flex;
    justify-content:space-around;
}
ul {
    display: flex;
    gap: 18px;
    padding: 18px;
    font-size: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

.header-content {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
}

.header-content div {
    height: 250px;
    flex: 1;
}

.message {
    font-size: 36px;
}

.picture img {
    margin: -50px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.info-title {
    font-size: 36px;
    font-style: bold;
    text-align: center;
    color: #1f2937;
}

img {
    width: 300px;
    height: 300px;
} 

.info-content {
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 52px;
}

.text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 21px;
    font-weight: bolder;
}
.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-person {
    text-align: right;
    font-size: 42px;
}
.sign-up {
    margin: 60px;
    display: flex;
    justify-content: space-evenly;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
}

.button {
    height: 50px;
    width: 70px;
}

.footer {
    background-color: #1f2937;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}