.navbar {
    display: flex;
    justify-content:space-around
}

ul {
    padding: 12px;
}

a:link {
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: space-around;
    border: 4px solid black;
}

.header-content div {
    border: 4px solid black;
    height: 250px;
    flex: 1;
}